<div class="hero-unit" style="margin-top: 25px;">
	<h3>Admin - Interviewjet</h3>
	<p style="text-align: center">
		<%= link_to "Login",
             candidates_url(:status => "Requested"),
            :class => 'btn btn-primary btn-large' %>
	</p>
</div>
