<div class="hero-unit" style="margin-top: 25px;">
	<h1>welcome on board interviewjet</h1>
	<p>
		<ul>
			<li>
				We are currently reviewing your application
			</li>
			<li>
				Stay tuned and wait for our team to update you on the status of your application
			</li>
		</ul>
	</p>
</div>
