<div class="modal-header talent_header">
		<div align="center" id="spinner" style="display:none;height:100%; width:100%;text-align:center;z-index:1234;background: #000;">
   	<img src="/assets/loading-bar.gif" style="margin-top: -50px;top: 60%;position: absolute;margin-left: -71px;">
 </div>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			&nbsp;
		</button>
		<h5><span>INTERVIEWJET</span> TALENT APPLICATION</h5>
	</div>

	<%= render :partial => 'talentapplication' %>