<div id="divCrewFlewLoading" class="crew_flew" style="text-align: left; width: 94%; padding-left: 3%; padding-right: 3%; margin-bottom: 30px">
	<h3 style="font-size: 2.5em"><%= @cmspage.title %></h3>
	<hr/>
	<div style="font-size: 1.4em;"><%= @cmspage.content.to_s.html_safe %></div>
</div>
