<%= remotipart_response do %>
  // Display a Javascript alert
  var iMessage = 'SEND <span class="ipod_none">APPLICATION</span>';
  $("#lnkSendTalentApplication").html(iMessage);
  alert('Sorry!!! we encountered a problem in processing your application');
  
<% end %>